$media_phones: screen and (max-width: 600px)
$media_small: screen and (min-width: 600px) and (max-width: 960px)
$media_normal: screen and (min-width: 960px) and (max-width: 1345px)
$media_large: screen and (min-width: 1800px)

.flex_center
    display: flex
    justify-content: center
    align-items: center
.flex_space_center
    display: flex
    justify-content: space-between
    align-items: center